name: Build and push Docker image

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Extract version from package.json
        id: version
        run: echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"

      - name: Compute Docker tags
        id: tags
        run: |
          BASE_IMAGE="iconical/swush"
          VERSION="${{ steps.version.outputs.version }}"
          TAGS="$BASE_IMAGE:$VERSION,$BASE_IMAGE:latest"

          IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"
          if [[ "$MAJOR" == "1" && "$MINOR" != "0" && "$PATCH" == "0" ]]; then
            TAGS="$TAGS,$BASE_IMAGE:stable"
          fi

          echo "docker_tags=$TAGS" >> "$GITHUB_OUTPUT"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.tags.outputs.docker_tags }}
